<launch>

  <arg name="model" default="ET3116A"/>
  <arg name="namespace" default="ET3116A"/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(find et_description)/urdf/$(arg model).xacro'
    namespace:=$(arg namespace)
    is_kinematic:=true
    "/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find et_description)/rviz/urdf.rviz"/>

</launch>
